<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao</string>
				<string>a3e8f2efdc9520ebdd35b764bc0e0597</string>
			</array>
		</dict>
	</array>
	<key>Item0</key>
	<string>kakaokompassauth</string>
	<key>Item1</key>
	<string>kakaolink</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string></string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
